#product-page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#product-page .back-button {
  flex-basis: 100%;
}

#product-page .product-cta {
  width: 300px;
}

#product-page .product-cta ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
  padding: 2rem;
  max-width: 300px;
}

#product-page .product-cta ul li {
  margin: 0.5rem auto;
}

#product-page .product-cta ul li:last-child {
  display: flex;
  flex-direction: column;
}
